@model IEnumerable<AllCigarViewModel>

@{
    ViewBag.Title = "All Cigars";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">
    @if (TempData.ContainsKey(WebConstants.GlobalAddMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalAddMessage]
        </div>
    }
    @if (TempData.ContainsKey(WebConstants.GlobalDeleteMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalDeleteMessage]
        </div>
    }

    @if (User.IsInRole("Admin"))
    {
        <form class="input-group-sm" asp-area="Admin" asp-controller="Cigar" asp-action="AddCigar">
            <a class="fs-6 btn btn-success mb-3 p-2 " asp-area="Admin" asp-controller="Cigar" asp-action="AddCigar">Add Cigar</a>
        </form>
    }

    @foreach (var cigar in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <a href="/Cigar/Details?id=@cigar.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@cigar.ImageUrl" alt="Cigar Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@cigar.Brand</h5>

                <p class="mb-0">Type: @cigar.Strength</p>

            </div>

            @if (User.IsInRole("Admin"))
            {
                <a class="fs-6 btn btn-success mb-3 p-2" href="/Admin/Cigar/Edit?id=@cigar.Id" aria-required="true">Edit</a>

                <form class="input-group-sm" asp-area="Admin" asp-controller="Cigar" asp-action="RemoveFromDataBase" asp-route-CigarId="@cigar.Id">
                    <input type="submit" value="Remove" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            }

            <form class="input-group-sm" asp-area="Admin" asp-controller="Cigar" asp-action="AddFavoriteCigar" asp-route-CigarId="@cigar.Id">
                    <input type="submit" value="Add to Favorite" class="fs-6 btn btn-success mb-3 p-2" />
            </form>

        </div>
    }
</div>