@model FavoriteProductsViewModels

@{
    ViewBag.Title = "My Favorite things";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">
    @if (TempData.ContainsKey(WebConstants.GlobalDeleteFromFavoritesMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalDeleteFromFavoritesMessage]
        </div>
    }
    @foreach (var ashtray in Model.FavoriteAshtray)
    {

         <div class="card col-4" style="width: 20rem; ">
            <a href="/Ashtray/Details?id=@ashtray.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@ashtray.ImageUrl" alt="Ashtray Image">
            </a>
            <div class="card-body">
                <h5 class="card-title mt-1">@ashtray.Brand</h5>
                <p class="mb-0">CountryOfManufacturing: @ashtray.CountryOfManufacturing</p>
                <p class="mb-0">Type: @ashtray.AshtrayType</p>
                <p>Category: @ashtray.Comment</p>
            </div>

            
            <form class="input-group-sm" asp-controller="Ashtray" asp-action="RemoveFromCollection" asp-route-ashtrayId="@ashtray.Id">
                 <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
            </form>

        </div>
    }

    @foreach (var cigar in Model.FavoriteCigar)
    {
        <div class="card col-4" style="width: 20rem; ">
            <a href="/Cigar/Details?id=@cigar.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@cigar.ImageUrl" alt="Cigar Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@cigar.Brand</h5>
                <p class="mb-0">Type: @cigar.Format</p>
                <p class="mb-0">Strength: @cigar.StrengthType</p>
                <p class="mb-0">Lenght: @cigar.Length</p>
                <p class="mb-0">Ring : @cigar.Ring </p>
                <p class="mb-0">Smoking duration : @cigar.SmokingDuration </p>
                <p class="mb-0">Country of manufacturing: @cigar.CountryOfManufacturing</p>
                <p class="mb-0">Comment: @cigar.Comment</p>
            </div>
             <form class="input-group-sm" asp-controller="Cigar" asp-action="RemoveFromCollection" asp-route-cigarId="@cigar.Id">
                 <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
            </form>
        </div>
    }

    @foreach (var CPC in Model.FavoriteCigarPoketCase)
    {
        <div class="card col-4" style="width: 20rem; ">
            <a href="/CigarCase/Details?id=@CPC.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@CPC.ImageUrl" alt="Cigar Pocket Cases Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@CPC.Brand</h5>
                <p class="mb-0">Capacity: @CPC.Capacity</p>
                <p class="mb-0">Material of Manufacture: @CPC.MaterialOfManufacture</p>
                <p class="mb-0">Country of manufacturing: @CPC.CountryOfManufacturing</p>
                <p class="mb-0">Comment: @CPC.Comment</p>
            </div>

            <form class="input-group-sm" asp-controller="CigarCase" asp-action="RemoveFromCollection" asp-route-CPCId="@CPC.Id">
                 <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
            </form>
        </div>
    }

    @foreach (var cigarillo in Model.FavoriteCigarillo)
    {
        <div class="card col-4" style="width: 20rem; ">
             <a href="/Cigarillo/Details?id=@cigarillo.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@cigarillo.ImageUrl" alt="Cigarillo Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@cigarillo.Brand</h5>
                <p class="mb-0">Filter : @cigarillo.FilterType</p>
                <p class="mb-0">Country of manufacturing: @cigarillo.CountryOfManufacturing</p>
                <p class="mb-0">Comment: @cigarillo.Comment</p>
            </div>
             <form class="input-group-sm" asp-controller="Cigarillo" asp-action="RemoveFromCollection" asp-route-cigarilloId="@cigarillo.Id">
                 <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
            </form>
        </div>
    }
     @foreach (var cutter in Model.FavoriteCutter)
    {
        <div class="card col-4" style="width: 20rem; ">
             <a href="/Cutter/Details?id=@cutter.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@cutter.ImageUrl" alt="Cutter Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@cutter.Brand</h5>
                <p class="mb-0">Type: @cutter.Type</p>
                <p class="mb-0">Country of manufacturing: @cutter.CountryOfManufacturing</p>
                <p class="mb-0">Comment: @cutter.Comment</p>
            </div>
             <form class="input-group-sm" asp-controller="Cutter" asp-action="RemoveFromCollection" asp-route-cutterId="@cutter.Id">
                 <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
            </form>
        </div>
    }
    @foreach (var humidor in Model.FavoriteHumidor)
    {
        <div class="card col-4" style="width: 20rem; ">
            <a href="/Humidor/Details?id=@humidor.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@humidor.ImageUrl" alt="Humidors Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@humidor.Brand</h5>
                <p class="mb-0">Height : @humidor.Height</p>
                <p class="mb-0">Length : @humidor.Length</p>
                <p class="mb-0">Weight : @humidor.Weight </p>
                <p class="mb-0">Capacity : @humidor.Capacity </p>
                <p class="mb-0">Country of manufacturing: @humidor.CountryOfManufacturing</p>
                <p class="mb-0">Material of manufacture: @humidor.MaterialOfManufacture</p>
            </div>
             <form class="input-group-sm" asp-controller="Humidor" asp-action="RemoveFromCollection" asp-route-humidorId="@humidor.Id">
                 <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
            </form>
        </div>
    }

    @foreach (var lighter in Model.FavoriteLighter)
    {
        <div class="card col-4" style="width: 20rem; ">
             <a href="/Lighter/Details?id=@lighter.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@lighter.ImageUrl" alt="Lighters Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@lighter.Brand</h5>
                <p class="mb-0">Country of manufacturing: @lighter.CountryOfManufacturing</p>
                <p class="mb-0">Comment: @lighter.Comment</p>
            </div>
             <form class="input-group-sm" asp-controller="Lighter" asp-action="RemoveFromCollection" asp-route-lighterId="@lighter.Id">
                 <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
            </form>
        </div>
    }
    
</div>
