@model IEnumerable<HumidorViewModel>

@{
    ViewBag.Title = "All Humidors";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">

    <form class="input-group-sm" asp-controller="Humidor" asp-action="AddHumidor">
            <a class="fs-6 btn btn-success mb-3 p-2 " asp-area="" asp-controller="Humidor" asp-action="AddHumidor">Add Humidor</a>
    </form>

    @foreach (var humidor in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@humidor.ImageUrl" alt="Humidors Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@humidor.Brand</h5>
                <p class="mb-0">Height : @humidor.Height</p>
                <p class="mb-0">Length : @humidor.Length</p>
                <p class="mb-0">Weight : @humidor.Weight </p>
                <p class="mb-0">Capacity : @humidor.Capacity </p>
                <p class="mb-0">Country of manufacturing: @humidor.CountryOfManufacturing</p>
                <p class="mb-0">Material of manufacture: @humidor.MaterialOfManufacture</p>
            </div>

            <form class="input-group-sm" asp-controller="Humidor" asp-action="AddFavoriteHumidor" asp-route-humidorId="@humidor.Id">
                <input type="submit" value="Add to Collection" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            
        </div>
    }
</div>