@model IEnumerable<AllHumidorViewModel>

@{
    ViewBag.Title = "All Humidors";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (TempData.ContainsKey(WebConstants.GlobalAddMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalAddMessage]
        </div>
    }
    @if (TempData.ContainsKey(WebConstants.GlobalDeleteMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalDeleteMessage]
        </div>
    }
    @if (TempData.ContainsKey(WebConstants.GlobalAddToFavoritesMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalAddToFavoritesMessage]
        </div>
    }

    @if (User.IsInRole("Admin"))
    {
        <form class="input-group-sm" asp-area="Admin" asp-controller="Humidor" asp-action="AddHumidor">
            <a class="fs-6 btn btn-success mb-3 p-2 " asp-area="Admin" asp-controller="Humidor" asp-action="AddHumidor">Add Humidor</a>
        </form>
    }


    @foreach (var humidor in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <a href="/Humidor/Details?id=@humidor.Id">
                <img class="card-img-top" style="width: 18rem;"
                 src="@humidor.ImageUrl" alt="Humidors Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-1">@humidor.Brand</h5>

            </div>

            @if (User.IsInRole("Admin"))
            {
                <a class="fs-6 btn btn-success mb-3 p-2" href="/Admin/Humidor/Edit?id=@humidor.Id" aria-required="true">Edit</a>

                <form class="input-group-sm" asp-area="Admin" asp-controller="Humidor" asp-action="RemoveFromDataBase" asp-route-humidorId="@humidor.Id">
                    <input type="submit" value="Remove" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            }

            @if (humidor.IsFavorite)
            {
                <form class="input-group-sm" asp-controller="Humidor" asp-action="RemoveFromCollection" asp-route-humidorId="@humidor.Id">
                    <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from Collection" />
                </form>
            }
            else
            {
                <form class="input-group-sm" asp-controller="Humidor" asp-action="AddFavoriteHumidor" asp-route-humidorId="@humidor.Id">
                    <input type="submit" value="Add to Favorite" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            }



        </div>
    }
</div>