@model EditCigarPocketCaseViewModel

@{
    ViewBag.Title = "Edit Cigar Pocket Case";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Brand" class="form-label">Brand </label>
                <input asp-for="@Model.Brand" class="form-control" aria-required="true" placeholder="Cohiba, Habana, etc."/>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CountryOfManufacturing" class="form-label">Country of manufacturing </label> 
                <input asp-for="@Model.CountryOfManufacturing" class="form-control" aria-required="true" placeholder="China, Cuba, etc."/>
                <span asp-validation-for="CountryOfManufacturing" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">Image URL</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" placeholder="Please place here you Url with the picture."/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.MaterialOfManufacture" class="form-label">Material of manufacture</label>
                <input asp-for="@Model.MaterialOfManufacture" class="form-control" aria-required="true" rows="5" placeholder="Oak, Betula, etc."/>
                <span asp-validation-for="MaterialOfManufacture" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Capacity" class="form-label">Capacity</label>
                <input asp-for="@Model.Capacity" class="form-control" value="" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Comment" class="form-label">Comment</label>
                <textarea asp-for="@Model.Comment" class="form-control" aria-required="true" rows="5" placeholder="This pocket case is ... "></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Edit Case" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}