@model CigarilloDetailsViewModel

@{
    ViewBag.Title = "Details and Reviews";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@Html.Partial("_TempData")

<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div id="boxes">
        <div id="leftbox">
            <div class="container">
                <div class="row justify-content-start">

                    <div class="card col-4" style="width: 20rem; ">

                        <img class="card-img-top" style="width: 18rem;"
                             src="@Model.ImageUrl" alt="Cigarillo">

                        <div class="card-body">

                            <h5 class="card-title mt-1">@Model.Brand</h5>
                            <p class="mb-0">Country Of Manufacturing: @Model.CountryOfManufacturing</p>
                            <p class="mb-0">Filter: @Model.Filter</p>
                            <p class="mb-0">Comment: @Model.Comment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="middlebox">
            <h2 style="text-align:center">Cigarillo Reviews by our users</h2>
            <div style="border-style: solid">
                @if (Model.CigarilloReviews.Count() == 0)
                {
                    <h3>There are curently no reviews for this product.</h3>
                }
                else
                {
                      <ul>
                    @foreach (var review in Model.CigarilloReviews)
                    {
                        @review.Commenter
                        <hr>
                        <div class=inpDiv id="container">

                            <form method="post" action="/Cigarillo/EditReview?ReviewId=@review.Id">
                                <textarea style="resize: none;" class=inpReview disabled id="petko" name="petko" value="@review.Review">@review.Review</textarea>

                                <button hidden class=inpDone type="submit" id="end-editing">Done</button>
                            </form>

                            @if (Model.UserName == review.Commenter || Model.UserName == "Admin")
                            {
                                <form method="post" action="/Cigarillo/DeleteReview?ReviewId=@review.Id">
                                    <button type="submit">Delete Review</button>
                                </form>

                                <button class=inpEdit method="post" id="edit-button">Edit</button>
                            }
                        </div>
                        <hr>
                    }
                </ul>   
                }
               
            </div>
        </div>
    </div>

    <div id="rightbox">
        <div class="mb-3">
            <form asp-action="Details" method="post">
                <div hidden>
                    <input asp-for="@Model.Id" class="form-control" aria-required="true" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.AddReviewToCigarillo" class="form-label">Add Review To Cigarillo </label>
                    <input asp-for="@Model.AddReviewToCigarillo" class="form-control" aria-required="true" placeholder="This cigarillo is ..." />
                    <span asp-validation-for="AddReviewToCigarillo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Add review" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
